<div class="addSummary__containerField">
  <form>
    <div class="addSkills__mySkills">
      <mat-form-field>
        <input
          type="text"
          class="form__field"
          placeholder="Язык"
          matInput
          [matAutocomplete]="autoUpdate"
          [formControl]="chosenControl"
          [value]="chosenControl.value.value"
        />
      </mat-form-field>
        <mat-autocomplete #autoUpdate="matAutocomplete">
          <mat-option *ngFor="let l of filteredLanguages | async" [value]="l.value">
            {{ l.value }}
          </mat-option>
        </mat-autocomplete>
    </div>
  </form>
</div>
