<div class="profile__container">
  <div class="profile__addFields">
    <div class="profile__box">
      <div class="form__box">
        <mat-form-field>
          <input
            (focus)="updateUniversityQuery($event)"
            (input)="updateUniversityQuery($event)"
            type="text"
            class="form__field"
            matInput
            [matAutocomplete]="autoForVersity"
            [formControl]="university"
          />
        </mat-form-field>

        <mat-autocomplete
          #autoForVersity="matAutocomplete"
          [displayWith]="universityNameFn"
        >
          <mat-option
            *ngFor="let option of universityQueryResponse"
            [value]="option"
          >
            {{ option.title }}
          </mat-option>
        </mat-autocomplete>
      </div>
    </div>
  </div>
</div>
