
.emptyJobOpenings {
  position: relative;
  min-height: 600px;
  background: url(/assets/media/emptyJobOpenings/bg.jpg) no-repeat center;
}

.emptyJobOpenings__title {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.emptyJobOpenings__description {
  position: absolute;
  top: 140px;
  right: 35px;
  max-width: 410px;
  background-color: #3cd52e;
  padding: 18px;
  border-left: 2px solid #000;

  &::before {
    position: absolute;
    top: 20px;
    right: 100%;
    width: 30px;
    height: 2px;
    background-color: #000000;
    content: "";
  }
}

@media (max-width: 1200px) {
  .emptyJobOpenings__description {
    width: 290px;
  }
}

@media (max-width: 980px) {
  .emptyJobOpenings__description {
    right: 0;
    width: 230px;
  }
}

@media (max-width: 768px) {
  .emptyJobOpenings {
    min-height: 400px;
    background: url(/assets/media/emptyJobOpenings/bg-768.jpg) no-repeat center left;
  }

  .emptyJobOpenings__description  {
    width: 200px;
    top: 60px;
    &::before {
      width: 10px;
      top: 80px;
    }
  }
}

@media (max-width: 480px) {
  .emptyJobOpenings {
    min-height: 500px;
    background-position: center 230px;
  }

  .emptyJobOpenings__description  {
    left: 50%;
    margin-left: -115px;
    border-left: 0;
    border-bottom: 2px solid #000;

    &::before {
      top: 100%;
      right: 50%;
      width: 2px;
      height: 30px;
    }
  }
}