.oculus {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  fill:#8e8e8e;
  opacity: 0.5;
  min-width: 39px;
  min-height: 29px;
  max-width: 39px;
  padding: 6px;
  cursor: pointer;

  &_active {
    opacity: 1;
  }

  &_popap {
    fill: #fff;
  }
}

.heart {
  & .heart__svg {
    fill:#fff;
    stroke:#000;
  }

  &_active {
    & .heart__svg {
      fill:#3cd52e;
      stroke:#3cd52e;
      stroke-width:0.9663;
      stroke-miterlimit:10;
    }
  }
}